/* Fill CSS here */table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #685b5b;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #7a7989;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
